@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p style="float:right">@Html.ActionLink("Login", "Create", "LoginForm")</p>
    <h1>Pharmacy ALEA</h1>
    <p class="lead">Trusted for unbiased health information since 1976.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>We are here for you</h2>
        <p>
            Empowering you to make wise decisions about your own health, by providing you with essential health information about both medical and alternative treatment options.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Products</h2>
        <p>We offer various types of products. Use our detailed search to find exactly what you need.</p>
    </div>
    <div class="col-md-4">
        <h2>Contact Us</h2>
        <p>Get expert advice and save on supplies.</p>
    </div>
</div>