@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Pharmacy ALEA</h1>
    <p class="lead">Trusted for unbiased health information since 1976.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">More about us &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>We are here for you</h2>
        <p>
            Empowering you to make wise decisions about your own health, by providing you with essential health information about both medical and alternative treatment options.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Read more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Products</h2>
        <p>We offer various types of products. Use our detailed search to find exactly what you need.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Search products &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact Us</h2>
        <p>Get expert advice and save on supplies.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Contact info &raquo;</a></p>
    </div>
</div>